#start_box
{
    background-color: gray;
    display:flex;
}    

#title{
    text-decoration: none;
    font-family:"Times New Roman",Georgia,Serif;
    font-style:inherit;
    padding:10px 30px 10px;
    color:black;
    font-size: 3em;
}

.nav{
    text-decoration: none;
    font-size: 2em;
    font-family:"Times New Roman",Georgia,Serif;
    padding:10px 30px 10px;
    display:flex;
    color:black;
}