#start_box
{
    background-color: whit;
    display:flex;
    box-shadow: 0 0.25rem 0.25rem 0 rgb(0 0 0 / 31%);
}    

#title{
    text-decoration: none;
    font-family:"Times New Roman",Georgia,Serif;
    font-style:inherit;
    padding:10px 30px 10px;
    color:black;
    font-size: 3em;
}

.nav{
    text-decoration: none;
    font-family:"Times New Roman",Georgia,Serif;
    padding-left:1em;
    color:black;
    display: inline-flex;
    align-items: center;
    font-size: 2em;
}

.body{
    margin: 0%;
}

#myblog{
    margin-left: auto;
    padding-right: 1em;
}

#mine{
    width: 270px;
    height: 337.5px;
}

#profile{
    text-align: center;
    margin-top: 5em;
    max-width: 33.333%;
}

#intro{
    font-family: Georgia;
}
