#start_box
{
    background-color: gray;
}

#title{
    text-decoration: none;
    font-family:"Times New Roman",Georgia,Serif;
    font-style:inherit;
    padding:10px 30px 10;
    color:black;
    font-size: 3em;
}

.nav{
    text-decoration: none;
    font-size: 2em;
    font-family:"Times New Roman",Georgia,Serif;
    display:inline-block;
    padding:50px 20px;
    color:black;
}